<meta charset="utf-8">

{% include seo.html %}

{% unless site.atom_feed.hide %}
  <link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">
{% endunless %}

<!-- https://t.co/dKP3o1e -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="{{site.favicon}}" type="image/x-icon">
<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
<link rel="preload" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css"></noscript>

{% if site.head_scripts %}
  {% for script in site.head_scripts %}
    <script src="{{ script | relative_url }}"></script>
  {% endfor %}
{% endif %}
<title>{% if page.title %}{{page.title}} - {{site.title}}{% else %}{{site.title}}{% endif %}</title>

  <!-- Edit site and author settings in `_config.yml` to make the social details your own -->

    <meta content="{{ site.title }}" property="og:site_name">
  {% if page.title %}
    <meta content="{{ page.title }}" property="og:title">
  {% else %}
    <meta content="{{ site.title }}" property="og:title">
  {% endif %}
  {% if page.title %}
    <meta content="article" property="og:type">
  {% else %}
    <meta content="website" property="og:type">
  {% endif %}
  {% if page.description %}
    <meta content="{{ page.description }}" property="og:description">
  {% else %}
    <meta content="{{ site.description }}" property="og:description">
  {% endif %}
  {% if page.url %}
    <meta content="{{ site.url }}{{ page.url }}" property="og:url">
  {% endif %}
  {% if page.date %}
    <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
    <meta content="{{ site.url }}/about/" property="article:author">
  {% endif %}
  {% if page.img %}
    <meta content="{{ site.url }}{{ site.baseurl }}/assets/images/{{ page.img }}" property="og:image">
  {% else %}
    <meta content="{{ site.url }}{{ site.baseurl }}/assets/images/{{ site.author-img }}" property="og:image">
  {% endif %}

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@{{ site.site-twitter }}">
    <meta name="twitter:creator" content="@{{ site.social-twitter }}">
  {% if page.title %}
    <meta name="twitter:title" content="{{ page.title }}">
  {% else %}
    <meta name="twitter:title" content="{{ site.title }}">
  {% endif %}
  {% if page.url %}
    <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
  {% endif %}
  {% if page.description %}
    <meta name="twitter:description" content="{{ page.description }}">
  {% else %}
    <meta name="twitter:description" content="{{ site.description }}">
  {% endif %}
  {% if page.img %}
    <meta name="twitter:image:src" content="{{ site.url }}{{ site.baseurl }}/assets/images/{{ page.img }}">
  {% else %}
    <meta name="twitter:image:src" content="{{ site.url }}{{ site.baseurl }}/assets/images/{{ site.author-img }}">
  {% endif %}

	<meta name="description" content="{{ page.description }}">
